/*  Fonte */

@font-face {
    font-family: happy-school;
    src: url(./assets/font/Happy\ School.ttf);
}

@font-face {
    font-family:janda-bubble;
    src: url(./assets/font/JandaManateeBubble.ttf);
}
/* Zera todas as margens e paddings dos elementos e define fonte e cor padrão */
* {
    color: light-dark(rgb(218, 5, 5), rgb(24, 5, 77)); /* cor do texto com variação clara/escura */
    letter-spacing: 1px;
}

/* Base styles for mobile-first approach */


/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        font-size: 18px; /* Aumenta um pouco a fonte */
    }

    .container {
        width: 95%; /* Centraliza o conteúdo, reduzindo a largura */
        margin: 0 auto;
    }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        display: grid; /* Munda para um layout de grid */
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
        gap: 20px; /* Adiciona espaçamento entre os itens */
        width: 90%;
    }
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    }
}

/*X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr); /* 4 colunas */
        width: 85%;
    }
}

/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        width: 80%; /* Otimiza a largura para telas muito grandes */
    }
}